.peek-left-content {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 10px;
}

.peek-temp-numbers {
    padding-left: 10px;
}

.temp-numbers {
    text-align: start;
    margin: 0;
}

.temp-numbers-maxmin {
    font-size: 3em;
}

.temp-numbers-riseset {
    font-size: 1.2em;
    margin-top: -15px;
}

.right-description-text {
    margin: 0;
    text-align: end;
}

.description-text-title {
    font-size: 0.8em;
}

.description-text-value{
    margin: 0;
    font-size: 1em;
}

.peek-right-description {
    margin-top: 10px;
}

@media only screen and (max-width: 1141px) {

    .peek-right-description {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 768px) {

    .peek-right-description {
        margin-top: 0;
    }
    .right-description-text {
        text-align: center;
    }
    .peek-left-content {
        margin: 0 auto;
        /* align-self: center; */
    }

}