.hourly-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    background: #FFFFFF;
    border-radius: 6px;
    padding: 5px;
    gap: 10px;
    height: fit-content;
    position: relative;
}

.hourly-container-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(202, 202, 202, 0.61);
    cursor: pointer;
}

.container-head-left {
    display: flex;
    width: 50%;
}

.head-left-weather-container {
    display: flex;
}

.left-weather-icon {
    height: 100%;
}

.left-weather-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-weather-tempo {
    max-width: 30px;
    text-align: start;
}

.left-weather-text {
    align-self: flex-end;
    text-align: start;
}

.container-head-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-right-date {
    text-align: end;
}

.head-right-time {
    text-align: end;
}

.hourly-container-bottom {
    display: flex;
    flex-direction: column;
}

.hourly-text {
    margin: 0;
}

.container-bottom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5px 10px;
}

.container-bottom-title {
    text-align: start;
}

.container-bottom-main-info {
    margin-top: 10px;
}

.container-bottom-element {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid lightgrey;
}

.bottom-element-value {
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .container-bottom-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .container-bottom-main-info:nth-child(0) {
        border-top: 1px solid;
    }
}