.container-weather {
    display: flex;
    flex-direction: column;
}

.weather-upper {
    display: flex;
    gap: 10px;
    width: 100%;
}

.weather-container {
    padding: 10px;
    display: flex;
    width: 50%;
    background: #FFFFFF;
    /* border: 1px solid; */
    border-radius: 6px;
    gap: 10px;
}

.weather-container-part {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-part-left {
    justify-content: space-between;
}

.right-details-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.details-list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.last-list-element {
    border: none;
}

@media only screen and (max-width: 1301px) { 
    .container-weather {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 1085px) {
    .weather-upper {
        flex-direction: column;
    }

    .weather-container {
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    .container-part-left {
        border-bottom: 1px solid rgba(202, 202, 202, 0.61);
        justify-content: center;
    }

    .right-title-text {
        text-align: start;
    }
    
    .weather-container {
        flex-direction: column;
    }

    .weather-container-part {
        width: auto;
    }
}