.app-header {
    height: 3em;
    background: black;

    display: flex;
    justify-content: space-between;

    padding: 10px 10px;
}

.logo-yellow { 
    color: rgb(252, 193, 26);
}

.app-header > div {
    display: flex;
}

.header-logo {
    color: #FFFFFF;
    align-items: center;
}

.header-logo > img {
    height: 100%;
}

.header-logo > h1 {
    margin: 0;
    margin-top: 3px;
    color: rgb(206, 220, 224);
}

.header-location {
    color: #FFFFFF;
    align-items: center;
}

.header-location > h1 {
    margin: 0;
}

.header-location > img {
    height: 100%;
    margin-left: 5px;
}

.location-tempo > span{
    user-select: none;
    cursor: pointer;
    
    transition: 0.4s;
}

.location-tempo > span:hover {
    color: #ffffffb2;
}

.search-form {
    display: flex;
}

.search-form > input, button {
    font-family: 'Rokkitt', serif;
}

.search-form > .search-input { 
    color: #FFFFFF;
    background: none;
    border: 1px solid rgb(253, 190, 17);
    
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    padding-left: 10px;
}

.search-form > .search-button {
    color: #FFFFFF;
    background: rgb(253, 190, 17);
    border: none;
    border-radius: 6px;
    padding: 5px 10px;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    cursor: pointer;
}

@media only screen and (max-width: 930px){
    .header-logo-text {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .app-header {
        height: 1.5em;
    }

    .location-country {
        display: none;
    }
}