html {
  padding: 0;
}
#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  padding: 0;
  scrollbar-gutter: stable;
  overscroll-behavior-y: contain;
}
body {
  margin: 0;
}