:root {
  font-family: 'Rokkitt', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ebebeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.font-logo { font-size: 2.15em; }
.font-large { font-size: 1.75em; }
.font-button { font-size: 1.1em; }
.font-tab { font-size: 1.5em; }
.font-label { font-size: 1.2em; }
.font-title { font-size: 1.5em; }
.font-content { font-size: 1.3em; }

.font-thin { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-bold { font-weight: 600; }
.font-fat { font-weight: 800; }


@media only screen and (max-width: 768px) {
    .font-large {
      font-size: 1.1em;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .font-button {
      font-size: 0.65em;
    }
    .font-tab {
      font-size: 1em;
    }
}
